.shop {
    min-height: 100vh;
    width: 100vw;
}

.shop .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-filter {
    width: 23vw;
    min-height: 90vh;
    height: 100%;
    padding: 1vw;
}

.product-filter h1 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}

.product-filter .rule {
    width: 23vw;
    border-top: .01rem solid var(--secondary-color);
}

.product-header {
    width: 75vw;
    height: calc(3rem + 1vw);
}

.product-container {
    display: flex;
    width: 75vw;
    flex-direction: row;
    flex-wrap: wrap;
}
