:root {
  --background-color: #ffffff;
  --primary-color: #b29bcf;
  --secondary-color: #ece7f3;
  --accent-color: #bfacd7;
  --text-color: #0f0a15;

  font-family: 'Lato', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
}
