:root {
  /* muted purple scheme */
  /*
  --background-color: #fafafa;
  --primary-color: #c2bbc3;
  --secondary-color: #e9e7e8;
  --accent-color: #c3bbc0;
  --text-color: #0d0c0e;
  --inverted-text-color: #0d0c0e;
  */

  /* dark brown scheme */
  /* --background-color: #faf4f0;
  --primary-color: #744b2a;
  --secondary-color: #ffffff;
  --accent-color: #613f23;
  --text-color: #25180e;
  --inverted-text-color: #faf4f0; */

  /* self-made brown scheme */
  --background-color: #ffffff;
  --primary-color: #A46B35;
  --secondary-color: #ECD2B8;
  --accent-color: #3D2102;
  --text-color: #000000;
  --inverted-text-color: #ffffff;

  font-family: 'Lato', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.inverted-text-color {
  color: var(--background-color);
}

.normal-text-color {
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
}
