.preview { 
    position: relative;
    width: 100%;
    padding: 1vh 1vw;
    text-align: left;
    border: solid .01rem var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.preview-image {
    align-self: center;
    height: 25vh;
    width: auto;
    max-width: 100%;
}

.preview:hover {
    border: solid 0.01rem var(--accent-color);
    cursor: pointer;
}

.preview .star-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}

.preview .star-rating p {
    font-size: 1rem;
    color: var(--primary-color);
    margin: 0;
}

.preview h1 {
    font-size: 2rem;
    margin: 0;
}

.cart-icon {
    width: 5rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    right: 0;
    cursor: crosshair;
}

.best-seller-tag {
    width: 6.5rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 85% 100%, 100% 0);
    background-color: var(--secondary-color);
}

.best-seller-tag p {
    margin: .5rem;
}

@media only screen and (min-width: 576px) {
    .preview {
        width: calc(48vw - 0.2rem);
    }
}

@media only screen and (min-width: 768px) {
    .preview {
        width: calc(71vw / 2 - 0.2rem);
    }
}

@media only screen and (min-width: 1200px) {
    .preview {
        width: calc(23vw - 0.2rem);
    }
}
