.homepage .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
}

.homepage .content img {
  flex-shrink: 1;
  width: 45vw;
  aspect-ratio: 1 / 1;
}

.homepage .content .text {
  width: 33vw;
}

.homepage .content .text h1 {
  font-size: 3.5rem;
  line-height: 4.2rem;
}

.homepage .content .text .emphasis {
  color: var(--primary-color);
}

.homepage .content .text p {
  font-size: 1.7rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
