.promotion-bar {
    width: 100vw;
    height: 5vh;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.promotion-bar .promotion {
    width: 40vw;
    display: block;
    /* should probably trigger animation on event instead */
    /* animation: slide 5s cubic-bezier(0, 1, 1, 0); */
}

.promotion-bar p {
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

/* @keyframes slide {
    from {left: 5vw}
    to {left: -5vw}
} */