.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin-left: 2.5vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.header h2 a {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar p {
    font-size: 1.3rem;
}

.navbar a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
}

.navbar p:hover{
    cursor: pointer;
    padding-bottom: .2rem;
    text-decoration: underline;
    text-underline-offset: .25rem;
    text-decoration-color: var(--secondary-color);
}

.navbar a:hover{
    cursor: pointer;
    padding-bottom: .2rem;
    text-decoration: underline;
    text-underline-offset: .25rem;
    text-decoration-color: var(--secondary-color);
}

.navbar .icons {
    display: flex;
    flex-direction: row;
    width: 5rem;
    justify-content: space-between;
}

.navbar img {
    height: 2rem;
    width: auto;
    cursor: pointer;
}