.error-element  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 100vw;
}

.error-element h1 {
    font-size: 5rem;
    color: var(--accent-color)
}

.error-element h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.error-element img {
    flex-shrink: 1;
    width: 40vw;
    max-height: 90vh;
    aspect-ratio: 1 / 1;
}